[Unit]
Description=VR GAME — проверять обновления каждые 2 минуты

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
AccuracySec=15s

[Install]
WantedBy=timers.target
